<html>
<head>
    <meta charset="UTF-8">
    <title>d3js</title>
    <link rel="stylesheet" href="../styles/bootstrap.css">
    <link rel="stylesheet" href="../styles/main.css">

    <script src="http://d3js.org/d3.v3.min.js"></script>


</head>
<body>
<div class="container">
    <div class="navigation">
        <ul class="nav nav-pills">
            <li>
                <a href="../../index.html">Barchart</a>
            </li>
            <li >
                <a href="choropleth.html">Coropleth</a>
            </li>
            <li class="active">
                <a href="calendar.html">Calendar</a>
            </li>
            <li >
                <a href="treemap.html">Treemap</a>
            </li>
        </ul>
    </div>
    <div class="well">
        <div class="row">
            <div class="col-sm-12">
                <h3>Calendar</h3>
            </div>
        </div>
        <div class="svg-place">

        </div>

        <div class="svg-place-second">

        </div>
    </div>
</div>

<script charset="utf-8" src="../js/calendar.js"></script>
</body>
</html>