<html>
<head>
<head>
    <meta charset="UTF-8">
    <title>d3js</title>
    <link rel="stylesheet" href="../styles/bootstrap.css">
    <link rel="stylesheet" href="../styles/main.css">

    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="http://d3js.org/topojson.v0.min.js"></script>
    <style>
        #348{
            fill: red;
            stroke-width: 0.5px;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="navigation">
        <ul class="nav nav-pills">
            <li>
                <a href="../../index.html">Barchart</a>
            </li>
            <li class="active">
                <a href="#">Coropleth</a>
            </li>
        </ul>
    </div>
    <div class="well">
        <div class="row">
            <div class="col-sm-12">
                <h3>Choropleth</h3>
            </div>
        </div>
        <div class="svg-place">

        </div>
    </div>
</div>

<script src="../js/choropleth.js"></script>
</body>
</html>